.filter-images {
    margin: 40px auto;
    width: 90%;
    height: auto;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: rgb(53, 53, 53);
    input {
        border-radius: 10px;
        padding: 3px 6px;
        border: 1px solid rgb(53, 53, 53);
    }
    .filter-section {
        padding: 10px;
        width: auto;
    }
    .selectors {
        width: auto;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        div {
            margin: 0 auto;
        }
        input {
            padding: 5px 10px;
            margin: 5px auto;
            display: inline-block;
        }
    }
}

