@import '../App.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: $base-color1;
  color: $light-text;
  height: 60px;
  div {
    margin: auto 10px;
    transition: 0.3s;
  }
  a {
    transition: 0.3s;
  }
  .nav-logo {
    margin-right: auto;
  }
  div:hover, a:hover {
    color: $base-color2;
    cursor: pointer;
  }
  
}
