@import '../App.scss';

.zlecenia {
    .titles {
        display: grid;
        grid-template-columns: 1.3fr 1fr 1.3fr 1.6fr 1fr;
        width: 90%;
        margin: 5px auto;
        align-items: center;
        align-content: center;
        animation: scaleup 500ms forwards;
        transition: 0.2s;
        transform: scale(0);
    }
    li {
        transform: scale(0);
        animation: scaleup 500ms forwards;
        width: 90%;
        height: 50px;
        background-color: $base-color3;
        color: $light-border;
        border-radius: 5px;
        margin: 5px auto;
        padding: 10px 10px;
        display: grid;
        // justify-content: space-between;
        grid-template-columns: 1.3fr 1fr 1.3fr 1.6fr 1fr;
        align-items: center;
        align-content: center;
        transition: 0.2s;
        &:hover {
            filter: brightness(120%);
            // background-color: $base-color3-hover;
            cursor: pointer;
            // transform: translateY(-2px);
        }
        &:active {
            filter: brightness(80%);
        }
    }
    
    ul {
        list-style-type: none;
    }
}

a {
    text-decoration: none;
    color: $light-border;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

@media (max-width: 600px) {
    .zlecenia {
        li {
            font-size: small;
        }
    }
    
}