@import '../App.scss';
.zlecenia {
    li {
        width: 90%;
        height: 50px;
        background-color: $base-color3;
        color: $light-border;
        border-radius: 5px;
        margin: 5px auto;
        padding: 10px 10px;
        display: grid;
        // justify-content: space-between;
        grid-template-columns: 1.3fr 1fr 1.3fr 2fr 1fr;
        align-items: center;
        align-content: center;
        transition: 0.2s;
        &:hover {
            filter: brightness(120%);
            // background-color: $base-color3-hover;
            cursor: pointer;
            transform: translateY(-2px);
        }
        &:active {
            filter: brightness(80%);
        }
    }
    
    ul {
        list-style-type: none;
    }
}

a {
    text-decoration: none;
    color: $light-border;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

@media (max-width: 600px) {
    .zlecenia {
        li {
            font-size: small;
        }
    }
    
}