@import '../App.scss';


.filter-zl {
    animation: appear 500ms forwards;
    margin: 40px auto;
    width: 90%;
    height: auto;
    border: 1px solid $shadow-color;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: $base-color1;
    .filter-section {
        padding: 10px;
        width: auto;
    }
    .checkboxes {
        display: flex;
        flex-direction: row;
        span {
            margin: 10px;
        }
    }
    #trasa {
        margin: 0 10px;
    }
    .labels {
        margin: 10px 5px;
        div {
            margin: 20px 0;
        }
    }
    .dates {
        max-width: 180px;
    }
    .trasa {
        font-size: 30px;
    }
    
    input, label {
        display: inline-block;
        margin: 3px;
    }
    input {
        padding: 5px 10px;
        margin: 5px auto;
        display: inline-block;
        border-radius: 10px;
        // padding: 3px 6px;
        border: 1px solid $base-color1;
        
    }

}

input:hover {
    cursor: pointer;
}
.dates-section {
    display: flex;
}

@media (max-width: 600px) {
    .dates {
        input {
            width: 120px;
        }
    }
}