@import '../App.scss';

@mixin bordered {
    margin: 20px auto;
    border: 1px solid $base-color1;
    border-radius: 10px;
    width: 90%;
}


.zlecenie-detale {
    h1 {
        text-align: center;
        margin: 30px;
    }
    .pom-title {
        
        text-align: left;
        margin: 30px 40px;
    }
    .zl-info {
        animation: appear 500ms forwards;
        @include bordered();
        padding: 20px 30px;
        height: auto;
        p {
            margin: 5px;
        }
    }
    .pom-info {
        @include bordered();
        animation: appear 500ms forwards 100ms;
        opacity: 0;
        height: 300px;
        overflow: auto;
        .pomiary-tab {
            margin: 20px auto;
        }
        
    }
    .img-info-container {
        
        margin-top: 2em;
        margin-bottom: 2em;
        padding-bottom: 2em;
        border-bottom: 1px solid $light-border;
        display: grid;
        // flex-direction: row;
        grid-template-columns: repeat(2, 1fr);
        img {
            margin: 0px 40px;
        }
    }
    .img-info {
        animation: appear 500ms forwards 200ms;
        opacity: 0;
        @include bordered();
        height: 300px;
        overflow: auto;
    }
    .vid-info {
        animation: appear 500ms forwards 300ms;
        opacity: 0;
        margin: 10px auto;
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        iframe, h2 {
            margin: 10px auto;
        }
    }
    @media (max-width: 800px) {
        table {
            font-size: 10px;
        }
    }
    .warning {
        color: rgb(255, 0, 0);
    }
}