$base-color1: #3b3b3f;
$base-color2: #E84545;
$base-color3: #8d4a58;

$base-color3-backup: #903749;
$base-color1-backup: #2B2E4A;

$base-color3-hover: #b8475d;
$light-text: rgb(202, 202, 202);
$light-border: rgb(228, 228, 228);
$shadow-color: gray;

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Quicksand&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

@mixin scrollbars($size, $foreground-color, $background-color, $margin) {
    // For Google Chrome
    &::-webkit-scrollbar {
      width:  $size;
      height: $size;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $foreground-color;
    }
  
    &::-webkit-scrollbar-track {
      background: $background-color;
      margin: $margin 10px;
    }
  
    // For Internet Explorer
    & {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  }


  * {
    @include scrollbars(10px, rgb(219, 219, 219), rgb(255, 255, 255), 0);
  }

.img-info-container, .img-info, .pom-info {
    @include scrollbars(10px, rgb(219, 219, 219), rgb(255, 255, 255), 10px);
}
.fade-enter {
  opacity: 0;
  transform: translate(10rem, 0);
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 500ms;
}

.fade-exit {
  opacity: 0;
}
.fade-exit-active {
  opacity: 0;
  // transition: opacity 0ms;
}